################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/abstractClass/abstractClass/abstractClass.csproj
/abstractClass/abstractClass.sln
/abstractClass/abstractClass.sln
/aspCoreCrud/aspCoreCrud/aspCoreCrud.csproj
/aspCoreCrud/aspCoreCrud/aspCoreCrud.csproj
/aspCoreCrud/aspCoreCrud.sln
/aspCoreCrud/aspCoreCrud.sln
/aspCoreCrud/aspCoreCrud.sln
/aspCoreCrud/aspCoreCrud.sln
